.work {
    flex: 1;
    align-items: center;
    padding-block: 10vh;
}

.work-image {
    height: 80vh;
    width: auto;
}

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 5px;
}

.work-row {
    flex: 4;
    justify-content: space-evenly;
}

.work-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-logo {
    height: 30vh;
    width: 30vh;
    border-radius: 50px;
    object-fit: cover;
    margin-inline: 10px;
    margin-block: 10px;
}

.work-specs {
    align-items: center;
    margin-block: 15px;
}

.work-text {
    color: white;
    font-size: 20px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 3px darkgoldenrod;
    text-align: center;
}
