.app {
    flex: 1;
    background-size: cover;
    background-image: url("assets/background.jpg");
    background-repeat: repeat-y;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 30px;
    padding-inline: 70px;
}

.header-title {
    color: white;
    font-size: 40px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 3px darkgoldenrod;
}

.header-text {
    color: white;
    font-size: 40px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 3px darkgoldenrod;
}

.header-sectionBar {
    display: flex;
    width: 350px;
    flex-direction: row;
    justify-content: space-between;
}
